<header class="header">
  <div class="top">
    <marquee>
      <span> Как правильно бриться? </span>
    </marquee>
  </div>

  <nav class="nav">
    <div class="nav-wrap">
      <div class="item">
        <a href="index.html?page=how-to-shave">Как правильно бриться</a>
      </div>
      <div class="item">
        <a href="index.html?page=shaving-types">Типы бритья</a>
      </div>
      <div class="item">
        <a href="index.html?page=shaver-philips-s1223-41"
          >Электробритва Philips S1223/41</a
        >
      </div>
      <div class="item">
        <a href="index.html?page=popular-solutions"> Популярные решения </a>
      </div>
    </div>
  </nav>
</header>
