<main class="content">
  <div class="content_how-to-shave">
    <e-html data-src="components/content/how-to-shave.html"></e-html>
  </div>

  <div class="content_shaving-types">
    <e-html data-src="components/content/shaving-types.html"></e-html>
  </div>

  <div class="content_shaver-philips-s1223-41">
    <e-html data-src="components/content/shaver-philips-s1223-41.html"></e-html>
  </div>

  <div class="content_popular-solutions">
    <e-html data-src="components/content/popular-solutions.html"></e-html>
  </div>
</main>
