<div class="how-to-shave">
  <div class="adaptive">
    <div class="block" style="--img: url(./assets/images/how-to-shave/1.jpg)">
      <div class="block-inner-content">
        <div class="title">Шаг 1: Увлажнение</div>
        <div class="content">
          Прежде всего, увлажняйте кожу. Это поможет свести к минимуму число
          порезов и раздражение при бритье. Рекомендуем бриться сразу после или
          даже во время принятия душа. Влага смягчает волоски, и бритва легче
          скользит по коже. Умойте лицо с помощью скраба или средства для
          умывания, чтобы удалить следы жира, грязи, омертвевшие клетки и
          подготовить кожу к комфортному бритью.
        </div>
      </div>
    </div>

    <div class="block" style="--img: url(./assets/images/how-to-shave/2.jpg)">
      <div class="block-inner-content">
        <div class="title">Шаг 2: Нанесите средство для бритья</div>
        <div class="content">
          Нанесите гель или пену для бритья, хорошо вспеньте и нанесите на лицо.
          Это поможет смягчить волоски, облегчит скольжение бритвы, а также
          защитит кожу от раздражения при бритье. Здесь можно узнать, в чем
          разница между гелем и пеной для бритья и зачем ими пользоваться.
        </div>
      </div>
    </div>

    <div class="block" style="--img: url(./assets/images/how-to-shave/3.jpg)">
      <div class="block-inner-content">
        <div class="title">Шаг 3: Проверьте остроту лезвий</div>
        <div class="content">
          Если смазывающие полоски выглядят тусклыми и потертыми или во время
          бритья вы чувствуете, что лезвия недостаточно острые, возможно, пора
          сменить кассету.Воспользуйтесь выгодными предложениями. Станьте
          участником Gillette Club и получайте первоклассные лезвия с доставкой
          на дом!
        </div>
      </div>
    </div>

    <div class="block" style="--img: url(./assets/images/how-to-shave/4.jpg)">
      <div class="block-inner-content">
        <div class="title">Шаг 4: Ведите бритву легко и плавно</div>
        <div class="content">
          Ведите бритву легкими, плавными движениями, и она сделает всю работу
          за вас. Бритва Gillette Fusion5 ProShield оснащена плавающей головкой
          с технологией FlexBall, повторяющей контуры лица.
        </div>
      </div>
    </div>

    <div class="block" style="--img: url(./assets/images/how-to-shave/5.jpg)">
      <div class="block-inner-content">
        <div class="title">Шаг 5: Как можно чаще ополаскивайте лезвия</div>
        <div class="content">
          Часто споласкивайте лезвия. Помните: не брейтесь без геля или пены и
          не обрабатывайте один и тот же участок несколько раз. Это может
          вызвать раздражение кожи. Постукивание бритвой о край раковины может
          привести к повреждению высокоточных лезвий.
        </div>
      </div>
    </div>

    <div class="block" style="--img: url(./assets/images/how-to-shave/6.jpg)">
      <div class="block-inner-content">
        <div class="title">Шаг 6: Брейтесь вдоль и против роста волос</div>
        <div class="content">
          Так все-таки вдоль или против роста волос? Вообще-то в обоих
          направлениях. Волосы на лице растут в разных направлениях, поэтому
          лучше бриться в направлении как вдоль, так и против роста волос.
          Брейтесь в том направлении, которое вам наиболее комфортно.
          Усовершенствованная бритва с несколькими лезвиями, такая, как Gillette
          ProShield, обеспечит комфорт даже при бритье против роста волос.
        </div>
      </div>
    </div>

    <div class="block" style="--img: url(./assets/images/how-to-shave/7.jpg)">
      <div class="block-inner-content">
        <div class="title">
          Шаг 7: Придайте линиям четкость с помощью лезвия-триммера для точного
          бритья
        </div>
        <div class="content">
          Точный триммер на обратной стороне бритв Fusion5 поможет обработать
          такие труднодоступные участки, как бакенбарды и зона над верхней
          губой.
        </div>
      </div>
    </div>

    <div class="block" style="--img: url(./assets/images/how-to-shave/8.jpg)">
      <div class="block-inner-content">
        <div class="title">
          Шаг 8: Нанесите увлажняющее средство или лосьон после бритья
        </div>
        <div class="content">
          Сполосните лицо прохладной водой и промокните полотенцем. Нанесите
          увлажняющее средство после бритья, чтобы восстановить уровень влаги и
          смягчить кожу.
        </div>
      </div>
    </div>
  </div>
</div>
