<div class="popular-solutions">
  <h1>Популярные решения</h1>

  <div class="prm-prod">
    <div class="prm-prod-img">
      <figure class="prm-image">
        <picture>
          <source
            srcset="
              https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/m-img5.jpg
            "
            media="(max-width: 760px)"
          />
          <img
            src="https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/img5.jpg"
            alt=""
          />
        </picture>
      </figure>
    </div>
    <div class="prm-prod-content">
      <h3>Триммер для бороды и&nbsp;усов Wahl Aqua Trim</h3>
      <p>
        Модель имеет 12&nbsp;насадок от&nbsp;0,7 до&nbsp;22&nbsp;мм
        с&nbsp;интервалом 0,5&nbsp;мм. Она позволит поддерживать
        в&nbsp;прекрасном состоянии не&nbsp;только бороду и&nbsp;усы,
        но&nbsp;и&nbsp;создавать прически. Полноценный гаджет, который
        удовлетворит любой запрос и&nbsp;проработает без остановки
        до&nbsp;100&nbsp;минут.
      </p>
      <div class="prm-price">4&nbsp;699&nbsp;р.*</div>
    </div>
  </div>

  <div class="prm-prod">
    <div class="prm-prod-img">
      <figure class="prm-image">
        <picture>
          <source
            srcset="
              https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/m-img6.jpg
            "
            media="(max-width: 760px)"
          />
          <img
            src="https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/img6.jpg"
            alt=""
          />
        </picture>
      </figure>
    </div>
    <div class="prm-prod-content">
      <h3>Мультитриммер Philips 12&nbsp;в 1&nbsp;MG9710/90</h3>
      <p>
        Беспроводной мультитриммер, который обеспечит гладкое бритье против
        роста волос. Его можно использовать не&nbsp;выходя из&nbsp;душа
        и&nbsp;не&nbsp;переживать о&nbsp;состоянии гаджета:
        он&nbsp;не&nbsp;боится воды и&nbsp;влаги. Лезвие прослужит
        до&nbsp;четырех месяцев при регулярном использовании и&nbsp;обеспечит
        идеальный результат. Подходит для удаления и&nbsp;моделирования волос
        на&nbsp;всем теле.
      </p>
      <div class="prm-price">6&nbsp;999&nbsp;р.*</div>
    </div>
  </div>

  <div class="prm-prod">
    <div class="prm-prod-img">
      <figure class="prm-image">
        <picture>
          <source
            srcset="
              https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/m-img7.jpg
            "
            media="(max-width: 760px)"
          />
          <img
            src="https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/img7.jpg"
            alt=""
          />
        </picture>
      </figure>
    </div>
    <div class="prm-prod-content">
      <h3>Электробритва Deerma DEM-TX25W</h3>
      <p>
        Классический образец для тех, кто предпочитает сухое бритье. Модель
        прекрасно подойдет для дальних поездок и&nbsp;командировок,
        не&nbsp;займет много места и&nbsp;полностью зарядится
        за&nbsp;2,5&nbsp;часа. Ухаживать просто: достаточно промыть лезвия под
        водой или использовать специальную щеточку, которая идет
        в&nbsp;комплекте.
      </p>
      <div class="prm-price">2&nbsp;699&nbsp;р.*</div>
    </div>
  </div>

  <div class="prm-prod">
    <div class="prm-prod-img">
      <figure class="prm-image">
        <picture>
          <source
            srcset="
              https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/m-img8.jpg
            "
            media="(max-width: 760px)"
          />
          <img
            src="https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/img8.jpg"
            alt=""
          />
        </picture>
      </figure>
    </div>
    <div class="prm-prod-content">
      <h3>Триммер для бороды Carrera №&nbsp;623</h3>
      <p>
        Главное достоинство модели&nbsp;— острый и&nbsp;узкий нож, который
        быстро и&nbsp;аккуратно удалит волосы даже на&nbsp;деликатной коже.
        Насадку возможно отрегулировать, чтобы подровнять бороду или привести
        в&nbsp;порядок прическу не&nbsp;выходя из&nbsp;дома (диапазон
        насадки-гребня регулируется от&nbsp;4–14&nbsp;мм). Бритвенная головка
        снимается и&nbsp;промывается под проточной водой без лишних усилий.
        Батарея заряжается от&nbsp;сети.
      </p>
      <div class="prm-price">2&nbsp;999&nbsp;р.*</div>
    </div>
  </div>

  <div class="prm-prod">
    <div class="prm-prod-img">
      <figure class="prm-image">
        <picture>
          <source
            srcset="
              https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/m-img9.jpg
            "
            media="(max-width: 760px)"
          />
          <img
            src="https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/img9.jpg"
            alt=""
          />
        </picture>
      </figure>
    </div>
    <div class="prm-prod-content">
      <h3>Бритвенный станок с&nbsp;подогревом GILLETTE Labs Heated Razor</h3>
      <p>
        Модель с&nbsp;пятью острыми, как самурайский меч, лезвиями для влажного
        и&nbsp;сухого бритья. Ее&nbsp;фишка&nbsp;— возможность нагреваться
        и&nbsp;равномерно распределять тепло по&nbsp;коже, тем самым смягчая
        скольжение и&nbsp;создавая минимум раздражения на&nbsp;коже. Работает
        от&nbsp;встроенного аккумулятора, который быстро заряжается и&nbsp;вновь
        готов к&nbsp;работе.
      </p>
      <div class="prm-price">3&nbsp;499&nbsp;р.*</div>
    </div>
  </div>

  <div class="prm-prod prm-prod-noline">
    <div class="prm-prod-img">
      <figure class="prm-image">
        <picture>
          <source
            srcset="
              https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/m-img10.jpg
            "
            media="(max-width: 760px)"
          />
          <img
            src="https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/img10.jpg"
            alt=""
          />
        </picture>
      </figure>
    </div>
    <div class="prm-prod-content">
      <h3>Электробритва Deerma DEM-TX10W Black</h3>
      <p>
        Компактная и&nbsp;шустрая бритва с&nbsp;емким аккумулятором. Бреющие
        элементы скользят плавно и&nbsp;играючи повторяют контур лица, делая
        бритье качественным и&nbsp;чистым. Идеальный вариант для командировок
        и&nbsp;дальних поездок. Зарядки хватит на&nbsp;60&nbsp;минут автономной
        работы.
      </p>
      <div class="prm-price">1&nbsp;699&nbsp;р.*</div>
    </div>
  </div>
</div>
