<div class="shaving-types">
  <h1>Популярные типы бритья</h1>

  <h3>Шаветка или опасная бритва</h3>

  <p>
    Если бриться опасной бритвой, мы&nbsp;экономим деньги на&nbsp;лезвиях, это
    значительно дешевле, чем покупка кассет для станка. Для шаветки нужно одно
    лезвие, которое своевременно необходимо менять, в&nbsp;зависимости
    от&nbsp;плотности волоса и&nbsp;частоты использования. Кому-то использования
    одного лезвия для качественного и&nbsp;чистого бритья хватит на&nbsp;неделю,
    от&nbsp;ряда факторов зависит, будет&nbsp;ли человек менять лезвия четыре
    раза в&nbsp;месяц или два. Также нужно время, чтобы научиться правильно
    пользоваться подобными аксессуарами и&nbsp;отточить навык. Те, кто
    предпочитает бриться таким способом, заинтересованы в&nbsp;процессе,
    относятся к&nbsp;нему как к&nbsp;хобби: покупают специальную косметику,
    тратят время, превращая процесс бритья в&nbsp;своеобразный уходовый ритуал.
  </p>

  <figure class="prm-image">
    <picture>
      <source
        srcset="
          https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/m-img2.jpg
        "
        media="(max-width: 999px)"
      />
      <img
        src="https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/img2.jpg"
        alt="about"
      />
    </picture>
  </figure>

  <div class="prm-block">
    <h4>
      Чтобы правильно брить лицо опасным способом, нужно выполнить следующие
      действия:
    </h4>
    <p>
      Распариваем кожу (либо в&nbsp;душе, либо с&nbsp;помощью полотенца).
      Затем&nbsp;— фаза прешейвинга (от&nbsp;слова shaving&nbsp;— «бриться»,
      т.&nbsp;е. перед бритьем. —&nbsp;Прим. ред.), наносим масло или
      специальный крем, который обычно так и&nbsp;называется&nbsp;— прешейв.
      После нанесения средства снова распариваем кожу полотенцем, т.&nbsp;е.
      кладем полотенце на&nbsp;лицо с&nbsp;нанесенной косметикой. Затем все
      стираем, наносим пену или крем и&nbsp;начинаем бриться. Потом повторно
      распариваем кожу, повторяем процедуру с&nbsp;пеной или кремом и&nbsp;уже
      бреемся против роста щетины. В&nbsp;завершение процедуры используем крем
      или лосьон&nbsp;— что больше нравится. По&nbsp;данной схеме будет
      правильнее всего бриться с&nbsp;использованием шаветки, опасной или
      т-образной бритвы.
    </p>
  </div>

  <h3>Станок</h3>

  <p>
    Многие мужчины предпочитают этот способ бритья. Здесь нужен минимум
    косметики: пена или гель для бритья, лосьон после бритья&nbsp;— это экономит
    бюджет. В&nbsp;том числе не&nbsp;нужно каких-то хитростей, достаточно
    бриться по&nbsp;росту волос, без дополнительного натягивания кожи. Когда
    мужчина начинает бриться т-образным станком или шаветкой, предполагается,
    что он&nbsp;должен использовать две руки: одной рукой натягивать кожу
    в&nbsp;противоположную сторону от&nbsp;бритья, а&nbsp;второй рукой орудовать
    инструментом. Станок бреет максимально чисто в&nbsp;любом случае,
    не&nbsp;важно, бреется человек по&nbsp;росту или против роста волос.
  </p>

  <figure class="prm-image">
    <picture>
      <source
        srcset="
          https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/m-img3.jpg
        "
        media="(max-width: 999px)"
      />
      <img
        src="https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/img3.jpg"
        alt="about"
      />
    </picture>
  </figure>

  <h3>Электробритва</h3>

  <p>
    Пользуясь электробритвой, можно забыть о&nbsp;ряде проблем, которые есть
    в&nbsp;других способах. Я&nbsp;отдаю предпочтение именно этому виду бритья.
    Бриться электробритвой можно годы и&nbsp;десятки лет, главное&nbsp;—
    ухаживать за&nbsp;ней и&nbsp;не&nbsp;забывать вовремя чистить, при
    необходимости менять насадки, чтобы обеспечить качественное бритье. Важно
    обращать внимание на&nbsp;свои ощущения: если волос удаляется неправильно,
    кожа испытывает дискомфорт или результат отличается от&nbsp;того, который
    был изначально, это верный сигнал, что пора заменить лезвие
  </p>

  <figure class="prm-image">
    <picture>
      <source
        srcset="
          https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/m-img4.jpg
        "
        media="(max-width: 999px)"
      />
      <img
        src="https://static.eldorado.ru/promo/src/kak-pravilno-britsya/img/img4.jpg"
        alt="about"
      />
    </picture>
  </figure>
</div>
