<div class="shaver-philips-s1223-41">
  <div class="container">
    <h1>Основные характеристики Электробритвы Philips S1223/41</h1>

    <table>
      <tbody>
        <tr class="grey">
          <td>Страна</td>
          <td>Китай</td>
        </tr>
        <tr class=" ">
          <td>Гарантия</td>
          <td>1 год</td>
        </tr>
        <tr class="q123">
          <td class="specificationTextTableHd" colspan="2">Общие</td>
        </tr>
        <tr class="grey">
          <td>Тип бритвы</td>
          <td>Роторный</td>
        </tr>
        <tr class=" ">
          <td>Сухое бритье</td>
          <td>Есть</td>
        </tr>
        <tr class="grey">
          <td>Встроенный триммер</td>
          <td>Есть</td>
        </tr>
        <tr class=" ">
          <td>Водонепроницаемый корпус</td>
          <td>Есть</td>
        </tr>
        <tr class="q123">
          <td class="specificationTextTableHd" colspan="2">
            Бритвенная система
          </td>
        </tr>
        <tr class="grey">
          <td>Количество бреющих элементов</td>
          <td>3</td>
        </tr>
        <tr class=" ">
          <td>Повторение контуров лица</td>
          <td>Есть</td>
        </tr>
        <tr class="grey">
          <td>Наименование режущего блока</td>
          <td>PowerCut</td>
        </tr>
        <tr class="q123">
          <td class="specificationTextTableHd" colspan="2">Очистка</td>
        </tr>
        <tr class="grey">
          <td>Промывка лезвий под водой</td>
          <td>Есть</td>
        </tr>
        <tr class="q123">
          <td class="specificationTextTableHd" colspan="2">Индикация</td>
        </tr>
        <tr class="grey">
          <td>Индикация уровня заряда</td>
          <td>Есть</td>
        </tr>
        <tr class="q123">
          <td class="specificationTextTableHd" colspan="2">Электропитание</td>
        </tr>
        <tr class="grey">
          <td>Тип электропитания</td>
          <td>Аккумулятор</td>
        </tr>
        <tr class=" ">
          <td>Напряжение сети</td>
          <td>220 В</td>
        </tr>
        <tr class="grey">
          <td>Время автономной работы</td>
          <td>40 мин</td>
        </tr>
        <tr class=" ">
          <td>Тип аккумулятора</td>
          <td>Ni-Mh</td>
        </tr>
        <tr class="grey">
          <td>Время полной зарядки</td>
          <td>8 ч</td>
        </tr>
        <tr class="q123">
          <td class="specificationTextTableHd" colspan="2">Комплектация</td>
        </tr>
        <tr class="grey">
          <td>Защитный колпачок</td>
          <td>Есть</td>
        </tr>
        <tr class="q123">
          <td class="specificationTextTableHd" colspan="2">Габариты и вес</td>
        </tr>
        <tr class="grey">
          <td>Вес</td>
          <td>180 г</td>
        </tr>
        <tr class="q123">
          <td class="specificationTextTableHd" colspan="2"></td>
        </tr>
        <tr class="grey">
          <td>Цвет</td>
          <td>Черный</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
